[run]
branch = true
source = etools_validator
omit =  **/__init__.py
        **/migrations/**

[report]
fail_under = 90
ignore_errors = True
exclude_lines =
   pragma: no cover

[html]
directory = build/coverage
title = Validator Coverage report
